# No subir archivos caché del compilador de latex. 

.aux
.bbl
.bcf
.blg
.fdb_latexmk
.fls
.log
.out
.run.xml
.synctex.gz
Experimento II, Transporte de Señales/Informe 2/1main.fls
Experimento II, Transporte de Señales/Informe 2/1main.aux
Experimento II, Transporte de Señales/Informe 2/1main.bbl
Experimento II, Transporte de Señales/Informe 2/1main.bcf
Experimento II, Transporte de Señales/Informe 2/1main.blg
Experimento II, Transporte de Señales/Informe 2/1main.fdb_latexmk
Experimento II, Transporte de Señales/Informe 2/1main.fls
Experimento II, Transporte de Señales/Informe 2/1main.log
Experimento II, Transporte de Señales/Informe 2/1main.out
Experimento II, Transporte de Señales/Informe 2/1main.run.xml
Experimento II, Transporte de Señales/Informe 2/1main.synctex.gz
